[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=hildonComponentsTest
Exec=/usr/bin/single-instance /opt/hildonComponentsTest/bin/hildonComponentsTest
Icon=/usr/share/icons/hicolor/80x80/apps/hildonComponentsTest80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
